<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waiter.mapper.NoticeMapper">
    <update id="updateStatus">
        update notice_user
        set status = 1
        where notice_id = #{notice_id};
    </update>

    <select id="selectAllNotice" resultType="com.waiter.vo.NoticeList">
        select notice_id, title, status
        from notice natural join notice_user
        where user_id = #{user_id};
    </select>

    <select id="queryUser" resultType="com.waiter.vo.UserDetails">
        select user_id, username, role, portrait, password
        from `user`
        where user_id = #{user_id};
    </select>

    <select id="queryNotice" resultType="com.waiter.vo.Noticedetails">
        select notice_id, title, content, create_time, status
        from notice natural join notice_user
        where notice_id = #{notice_id};
    </select>


</mapper>