<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example1.mapper.FoodMapper">

    <insert id="add" parameterType="com.example1.entity.Food" useGeneratedKeys="true" keyProperty="foodId" keyColumn="food_id">
        insert into food (food_name, description, category, price, image, is_like, is_available)
        values (#{foodName}, #{description}, #{category}, #{price}, #{image}, #{isLike}, #{isAvailable})
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from food where food_id = #{id}
    </delete>

    <update id="update" parameterType="com.example1.entity.Food">
        update food
        set
            <if test="foodName != null"> food_name = #{foodName}, </if>
            <if test="description != null"> description = #{description}, </if>
            <if test="category != null"> category = #{category}, </if>
            <if test="price != null"> price = #{price}, </if>
            <if test="image != null"> image = #{image}, </if>
            <if test="isLike != null"> is_like = #{isLike}, </if>
            <if test="isAvailable != null"> is_available = #{isAvailable}, </if>
            <if test="foodId != null"> food_id = #{foodId} </if>
        where food_id = #{foodId}
    </update>

    <update id="setAvailable">
        update food set is_available = 1
        where food_id = #{id}
    </update>

    <update id="setNotAvailable">
        update food set is_available = 0
        where food_id = #{id}
    </update>

    <update id="setLike">
        update food set is_like = 1
        where food_id = #{id}
    </update>

    <select id="listAll" resultType="com.example1.entity.Food">
        select * from food
    </select>

    <select id="selectById" resultType="com.example1.entity.Food">
        select * from food where food_id = #{id}
    </select>

    <select id="listByCategory" resultType="com.example1.entity.Food">
        select * from food where category = #{category}
    </select>

    <select id="selectByPrice" resultType="com.example1.entity.Food">
        select * from food where true
        <if test="min != null"> and #{min} &lt;= price </if>
        <if test="max != null"> and price &lt;= #{max}</if>
        order by price desc
    </select>

    <select id="fuzzySearchByName" resultType="com.example1.entity.Food">
        select * from food
        where food_name like concat('%', #{query}, '%')
    </select>

    <select id="selectTop3Food" resultType="com.example1.entity.FoodSales">
        select *
        from food natural join (
            select food_id, sum(num_food) as sales
            from food_order
            group by food_id) as food_order_num
        order by sales desc limit 3
    </select>
</mapper>